<%= content_for :body_id, "datatables" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>
  
  <div class="page-title">
    Some DataTables
  </div>
</div>

<div class="content-wrapper">
  
  <table id="orders-datatable">
    <thead>
      <tr>
        <th tabindex="0" rowspan="1" colspan="1">Order
        </th>
        <th tabindex="0" rowspan="1" colspan="1">Customer
        </th>
        <th tabindex="0" rowspan="1" colspan="1">Date
        </th>
        <th tabindex="0" rowspan="1" colspan="1">Status
        </th>
        <th tabindex="0" rowspan="1" colspan="1">Total
        </th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <th rowspan="1" colspan="1">Order</th>
        <th rowspan="1" colspan="1">Customer</th>
        <th rowspan="1" colspan="1">Date</th>
        <th rowspan="1" colspan="1">Status</th>
        <th rowspan="1" colspan="1">Total</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>
          <%= link_to "#1445", "#" %>
        </td>
        <td>John Stewart</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1897", "#" %>
        </td>
        <td>Andrea</td>
        <td>Mar 10, 06:50am</td>
        <td class=""><span class="label label-warning">Pending</span></td>
        <td class="center">$699.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1089", "#" %>
        </td>
        <td>John Stewart</td>
        <td>Mar 08, 01:43pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$1,879.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1883", "#" %>
        </td>
        <td>Pete</td>
        <td>Mar 07, 07:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$279.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1383", "#" %>
        </td>
        <td>John Stewart</td>
        <td>Mar 07, 04:30pm</td>
        <td class=""><span class="label label-danger">Canceled</span></td>
        <td class="center">$599.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1266", "#" %>
        </td>
        <td>Patrick Johnson</td>
        <td>Mar 07, 02:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$389.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1645", "#" %>
        </td>
        <td>Karen Diaz</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-warning">Pending</span></td>
        <td class="center">$199.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1864", "#" %>
        </td>
        <td>Matthew Williams</td>
        <td>Mar 02, 06:22pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#5192", "#" %>
        </td>
        <td>John Stewart</td>
        <td>Mar 01, 07:44pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$899.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1837", "#" %>
        </td>
        <td>Matthew Williams</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2397", "#" %>
        </td>
        <td>Matthew Williams</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#4483", "#" %>
        </td>
        <td>John Smith</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#8734", "#" %>
        </td>
        <td>Lawrence Ebert</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#7893", "#" %>
        </td>
        <td>Lawrence Ebert</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1937", "#" %>
        </td>
        <td>John Smith</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2093", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#5792", "#" %>
        </td>
        <td>Michelle</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#6873", "#" %>
        </td>
        <td>Alexandra</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2983", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1963", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-danger">Canceled</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1665", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2288", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3978", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#6876", "#" %>
        </td>
        <td>Lawrence Ebert</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#5872", "#" %>
        </td>
        <td>Erick</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#8762", "#" %>
        </td>
        <td>Jade Alexandra</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#5767", "#" %>
        </td>
        <td>Ernest Hemingway</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3855", "#" %>
        </td>
        <td>Ernest Hemingway</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2375", "#" %>
        </td>
        <td>Ernest Hemingway</td>
        <td>Mar 04, 04:30pm</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#2885", "#" %>
        </td>
        <td>Ernest Hemingway</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#1973", "#" %>
        </td>
        <td>Matthew Williams</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Malorie Knox</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Jack Sparrow</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Andrea</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Gonzalez</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Laura Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Andrea</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Andrea</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Bill Gates</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Bill Gates</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Bill Gates</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Steve Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Steve Bill</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>John</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Karen</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Carlton Douglas</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Jade</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
      <tr>
        <td>
          <%= link_to "#3445", "#" %>
        </td>
        <td>Phillip Dionne</td>
        <td>Mar 11, 11:50am</td>
        <td class=""><span class="label label-success">Paid</span></td>
        <td class="center">$399.99</td>
      </tr>
       </tbody>
  </table>
</div>
