<%= content_for :body_id, "users" %>

<div class="menubar fixed">
  <div class="sidebar-toggler visible-xs">
    <%= ion_icon('navicon') %>
  </div>
  
  <div class="page-title">
    Customers
  </div>
  <form class="search hidden-xs">
    <%= fa_icon('search') %>
    <input type="text" name="q" placeholder="Search customers, clients..." />
    <input type="submit" />
  </form>
  <%= link_to new_customer_forms_path, class: "new-user btn btn-success pull-right" do %>
    <span>New user</span>
  <% end %>
</div>

<div class="content-wrapper">
  <div class="row page-controls">
    <div class="col-md-12 filters">
      <div class="links">
        <label>Filter users:</label>
        <%= link_to "All users (243)", "#" %>
        <%= link_to "Active (3)", "#", class: "active" %>
        <%= link_to "Suspended (8)", "#" %>
        <%= link_to "Prospects", "#" %>
      </div>

      <div class="show-options">
        <div class="dropdown">
            <a class="button" data-toggle="dropdown" href="#">
              <span>
                Sort by
                <%= fa_icon('unsorted') %>
              </span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><%= link_to "Name", "#" %></li>
            <li><%= link_to "Signed up", "#" %></li>
            <li><%= link_to "Last seen", "#" %></li>
            <li><%= link_to "Browser", "#" %></li>
            <li><%= link_to "Country", "#" %></li>
            </ul>
        </div>
        <%= link_to fa_icon('th-list'), "#", data: { grid: ".users-list" }, class: "grid-view active" %>
        <%= link_to fa_icon('th'), "#", data: { grid: ".users-grid" }, class: "grid-view" %>
      </div>
    </div>
  </div>

  <div class="row users-list">
    <div class="col-md-12">
      <div class="row headers">
        <div class="col-sm-2 header select-users">
          <input type="checkbox" />
          <div class="dropdown bulk-actions">
            <a data-toggle="dropdown" href="#">
                Bulk actions
                <span class="total-checked"></span>

                <%= fa_icon('chevron-down') %>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to "Add tags", "#" %></li>
              <li><%= link_to "Delete users", "#" %></li>
              <li><%= link_to "Edit customers", "#" %></li>
              <li><%= link_to "Manage permissions", "#" %></li>
              </ul>
          </div>
        </div>
        <div class="col-sm-3 header hidden-xs">
          <label><%= link_to "Name", "#" %></label>
        </div>
        <div class="col-sm-3 header hidden-xs">
          <label><%= link_to "Email", "#" %></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label><%= link_to "Total spent", "#" %></label>
        </div>
        <div class="col-sm-2 header hidden-xs">
          <label class="text-right"><%= link_to "Signed up", "#" %></label>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/2.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "John Smith Stewart", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">john.39@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $9,400.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 27, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/3.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Richard Moore Stevens", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">richard@hotmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $1,200.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 25, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/4.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to profile_pages_path, class: "name" do %>
            Karen Jessica Lawrence
            <span class="label label-info">New user</span>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="email">karen@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $400.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 25, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/1.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "John Smith Stewart", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">john.smith@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $3,150.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 22, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/5.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to profile_pages_path, class: "name" do %>
            Richard Moore
            <span class="label label-warning">Order pending</span>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="email">rick98@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $89.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 17, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/6.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Karen Jessica Lawrence", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">lawrence@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $399.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 14, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/7.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Eric McKellen", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">eric@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $5,900.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 11, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/8.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "George Lucas Francois", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">george@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $280.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 09, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/9.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Maria Harrison", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">maria.01@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $19,000.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 09, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/10.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to profile_pages_path, class: "name" do %>
            Butch Robertson
            <span class="label label-info">New user</span>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="email">butch@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $8,900.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 03, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/11.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Richard Dawkins", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">dawkins@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $2,600.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Feb 01, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/12.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Andrea Kotrevzka", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">andrea@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $799.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Jan 28, 2014
          </div>
        </div>
      </div>
      <div class="row user">
        <div class="col-sm-2 avatar">
          <input type="checkbox" name="select-user" />
          <%= image_tag "avatars/13.jpg" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "Robert Diaz", profile_pages_path, class: "name" %>
        </div>
        <div class="col-sm-3">
          <div class="email">robert.diaz@gmail.com</div>
        </div>
        <div class="col-sm-2">
          <div class="total-spent">
            $900.00
          </div>
        </div>
        <div class="col-sm-2">
          <div class="created-at">
            Jan 27, 2014
          </div>
        </div>
      </div>

      <div class="row pager-wrapper">
        <div class="col-sm-12">
          <ul class="pager">
              <li><%= link_to "Previous", "#" %></li>
              <li><%= link_to "Next", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row users-grid">
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/2.jpg" %>
      <% end %>
      <div class="name">John Smith Stewart</div>
      <div class="email">john.39@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/3.jpg" %>
      <% end %>
      <div class="name">Richard Moore Stevens</div>
      <div class="email">richard@hotmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/4.jpg" %>
      <% end %>
      <div class="name">Karen Jessica Lawrence</div>
      <div class="email">karen@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/1.jpg" %>
      <% end %>
      <div class="name">John Smith Stewart</div>
      <div class="email">john.smith@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/5.jpg" %>
      <% end %>
      <div class="name">Richard Moore Stevens</div>
      <div class="email">rick98@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/6.jpg" %>
      <% end %>
      <div class="name">Karen Jessica Lawrence</div>
      <div class="email">lawrence@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/7.jpg" %>
      <% end %>
      <div class="name">Eric McKellen</div>
      <div class="email">eric@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/8.jpg" %>
      <% end %>
      <div class="name">George Lucas Francois</div>
      <div class="email">george@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/9.jpg" %>
      <% end %>
      <div class="name">Maria Harrison</div>
      <div class="email">maria.01@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/10.jpg" %>
      <% end %>
      <div class="name">Richard Dawkins</div>
      <div class="email">dawkins@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/11.jpg" %>
      <% end %>
      <div class="name">Andrea Kotrevzka</div>
      <div class="email">andrea@gmail.com</div>
    </div>
    <div class="user col-sm-3 col-xs-6">
      <%= link_to "#" do %>
        <%= image_tag "avatars/12.jpg" %>
      <% end %>
      <div class="name">Robert Diaz</div>
      <div class="email">robert.diaz@gmail.com</div>
    </div>

    <div class="pager-wrapper">
      <div class="col-sm-12">
        <ul class="pager">
            <li><%= link_to "Previous", "#" %></li>
            <li><%= link_to "Next", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
