<% if f.object.temp_email? && f.object.sign_in_count <= 1 %>
  <div class="alert alert-info" role="alert">
    Since this is your first login please provide us your <strong>valid email address</strong> and <strong>setup your password</strong>.
  </div>
  <br />
<% end %>

<div class="fields">
  <%= f.label :full_name, "Your name" %>
  <%= f.text_field :full_name, class: "form-control", placeholder: "John Doe" %>
</div>

<div class="fields">
  <%= f.label :email, "Your email" %>
  <%= f.email_field :email, class: "form-control", placeholder: "john.doe@example.com" %>
  <% if devise_mapping.confirmable? && f.object.pending_reconfirmation? %>
    <em>Currently waiting confirmation for: <%= f.object.unconfirmed_email %></em>
  <% end %>
</div>

<div class="fields">
  <%= f.label :password, "Password" %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
</div>

<div class="fields">
  <%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
</div>

<hr>

<div class="fields">
  <%= f.label :locale, "Preferred language" %>
  <%= f.select :locale, User::LOCALE_PAIRS.invert, { prompt: true, selected: f.object.locale || browser_locale }, class: "form-control" %>
</div>

<div class="fields">
  <%= f.label :time_zone, "Time zone" %>
  <%= f.select :time_zone, time_zone_options_for_select(f.object.time_zone || browser_time_zone), { prompt: true }, class: "form-control" %>
</div>

<div class="actions">
  <%= f.submit f.object.persisted? ? "Update account" : "Sign up", class: "btn btn-success btn-lg" %>
  &nbsp; &nbsp;
  <%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-default btn-md", data: { confirm: "Are you sure?" }, method: :delete if f.object.persisted? %>
</div>
