<%= content_for :body_class, "sign_up" %>

<%= link_to fa_icon('users'), root_url, class: "logo" %>
<h3>Create Your Account Now</h3>

<div class="content">
  <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="fields">
      <%= f.label :email, "Your email" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    
    <div class="fields">
      <%= f.label :name, "Your name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    
    <div class="fields">
      <%= f.label :locale, "Preferred language" %>
      <%= f.select :locale, User::LOCALES, { prompt: true, selected: f.object.locale || browser_locale }, class: "form-control" %>
    </div>
    
    <div class="fields">
      <%= f.label :time_zone, "Time zone" %>
      <%= f.select :time_zone, time_zone_options_for_select(f.object.time_zone || browser_time_zone), { prompt: true }, class: "form-control" %>
    </div>
    
    <div class="fields">
      <%= f.label :password, "Password" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <div class="fields">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>

<div class="bottom-wrapper">
  <div class="message">
    <%= render "devise/shared/links" %>
  </div>
</div>
