<%= content_for :body_id, "sidebar" %>

<div id="app-sidebar">
	<div class="scroll-wrapper">
		<div class="menubar relative">
			<div class="sidebar-toggler visible-xs">
				<i class="ion-navicon"></i>
			</div>
			<form>
				<i class="fa fa-search"></i>
				<input type="text" class="form-control" placeholder="Search messages..." />
			</form>
		</div>
		<div class="messages">
			<div class="message clearfix">
				<div class="time">
					6:00
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/6.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message active clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/5.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Karen Diaz</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 05	
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/3.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">John Stewart</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Sep 29
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/4.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">David Gilmour</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/7.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/8.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/9.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/10.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/11.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/12.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
			<div class="message clearfix">
				<div class="time">
					Oct 14		
				</div>
				<div class="avatar pull-left">
					<%= image_tag "avatars/13.jpg" %>
				</div>
				<a href="#" class="info pull-left">
					<span class="name">Jacob Sabludosky</span>
					<span class="subject">Design</span>
					<span class="intro">
						Hey dude, i'm sure you'll like this new approach to design some...
					</span>
				</a>
			</div>
		</div>
		<div class="paging">
			<a class="disabled left" href="#" data-toggle="tooltip" data-placement="top" title="Previous page">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="right" href="#" data-toggle="tooltip" data-placement="top" title="Next page">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>
	</div>
</div>

<div id="app-message">
	<div class="scroll-wrapper">
		<div class="menubar relative">
			<div class="page-title">
				Good design is good business
			</div>
			<div class="paging">
				<a class="left" href="#" data-toggle="tooltip" data-placement="bottom" title="Previous message"><i class="fa fa-chevron-left"></i></a>
				<a class="right" href="#" data-toggle="tooltip" data-placement="bottom" title="Next message"><i class="fa fa-chevron-right"></i></a>
				<a class="trash" href="#" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>

		<section>
			<div class="message">
				<div class="header">
					<div class="info">
						<%= image_tag "avatars/7.jpg", class: "avatar" %>
						from <strong>Jon Snow</strong> <i>&bull;</i> <strong>16th Feb, 3:04pm</strong>
					</div>
				</div>
				<div class="body">
					<p>Hey there,</p>
					<p>
						In the most anticipated announcement in physics since the discovery of the <a href="#">Higgs Boson</a>, the first detection of a gravitational wave has been reported. If verified, the find will dispel any lingering doubts about Relativity theory, transform our understanding of the universe's beginning and provide astrophysicists with a new tool to probe the universe. The importance of the detection is hard to overstate.
					</p>
					<p>
						As part of his General Theory of Relativity, Einstein predicted that acceleration of large masses would cause waves to ripple through space in a manner analogous to ripples on the surface of a pond. Indirect evidence abounds for gravitational waves, but almost a century after Einstein predicted it direct evidence remained elusive - until today's announcement by the Harvard-Smithsonian Center for Astrophysics. The paper is now available on arXiv.
					</p>
				</div>
				<div class="attachments clearfix">
					<div class="attachment">
						<a href="#">
							<span class="file-type html">HTML</span>
							<span class="name">resume.html <span class="size">(5mb)</span></span>
						</a>
					</div>
					<div class="attachment">
						<a href="#">
							<span class="file-type zip">ZIP</span>
							<span class="name">theme.zip <span class="size">(3.2mb)</span></span>
						</a>
					</div>
				</div>
				<div class="reply">
					<form>
						<textarea placeholder="Reply message..." class="form-control" rows="4"></textarea>
						<div class="actions text-right">
							<input class="btn btn-primary" type="submit" value="Send message" />
						</div>
					</form>
				</div>
			</div>

			<div class="message collapsed">
				<a href="#">
					<span class="sender">Andrea Lawrence</span>
					<span class="receiver">to Jon Snow</span>
					<span class="date pull-right">
						12th Feb, 9:38pm
					</span>
				</a>
			</div>
			<div class="message collapsed">
				<a href="#">
					<span class="sender">Jon Snow</span>
					<span class="receiver">to Andrea Lawrence</span>
					<span class="date pull-right">
						9th Feb, 10:31am
					</span>
				</a>
			</div>
			<div class="message collapsed">
				<a href="#">
					<span class="sender">Andrea Lawrence</span>
					<span class="receiver">to Jon Snow</span>
					<span class="date pull-right">
						31th Jan, 12:05pm
					</span>
				</a>
			</div>
		</section>
	</div>
</div>