<%= content_for :body_id, "projects" %>

<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>

	<div class="page-title">
		My Projects 
		<small class="hidden-xs">(Widget list concept)</small>
	</div>
	<a href="<%= new_product_forms_path %>" class="new-user btn btn-success pull-right">
		<span>Add project</span>
	</a>
</div>

<div class="content-wrapper clearfix">
	<div class="row project-list">
		<div class="project new">
			<a href="#">
				<i class="ion-ios7-plus-outline"></i>
				<span class="info">
					Create a New Project
				</span>
			</a>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">Dashboard Design</div>
				<div class="category">Design & Development</div>
				<div class="last-update">
					Last updated 3 hours ago
				</div>
			</div>
			<div class="members">
				<%= image_tag "avatars/3.jpg" %>
				<%= image_tag "avatars/7.jpg" %>
				<%= image_tag "avatars/14.jpg" %>
				<%= image_tag "avatars/15.jpg" %>
				
				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">iOS App</div>
				<div class="category">Mobile Development</div>
				<div class="last-update">
					Last updated 1 week ago
				</div>
			</div>
			<div class="members">
				<%= image_tag "avatars/6.jpg" %>
				<%= image_tag "avatars/4.jpg" %>
				<%= image_tag "avatars/10.jpg" %>

				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">Marketing Writeup</div>
				<div class="category">Marketing</div>
				<div class="last-update">
					Last updated 2 days ago
				</div>
			</div>
			<div class="members">
				<%= image_tag "avatars/4.jpg" %>
				<%= image_tag "avatars/8.jpg" %>
				<%= image_tag "avatars/9.jpg" %>
				<%= image_tag "avatars/16.jpg" %>

				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">New Blog Posts</div>
				<div class="category">Writing</div>
				<div class="last-update">
					Last updated 13 hours ago
				</div>
			</div>
			<div class="members">
				<%= image_tag "avatars/10.jpg" %>
				<%= image_tag "avatars/11.jpg" %>
				<%= image_tag "avatars/12.jpg" %>
				<%= image_tag "avatars/17.jpg" %>

				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">New Album Cover</div>
				<div class="category">Design</div>
				<div class="last-update">
					Last updated 1 day ago
				</div>
			</div>
			<div class="members">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/krystalfister/128.jpg" />

				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
		<div class="project">
			<div class="info">
				<div class="name">New Theme Development</div>
				<div class="category">Design</div>
				<div class="last-update">
					Last updated 11 day ago
				</div>
			</div>
			<div class="members">
				<%= image_tag "avatars/8.jpg" %>
				<%= image_tag "avatars/5.jpg" %>
				<%= image_tag "avatars/13.jpg" %>

				<a href="#" class="add-more">
					<i class="fa fa-plus"></i>
				</a>
				<ul class="menu">
					<li><a href="#">Invite a new user</a></li>
					<li><a href="#">Change name</a></li>
					<li><a href="#">Delete project</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>