<%= content_for :body_id, "email-templates" %>

<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>

	<div class="page-title">
		Email templates
	</div>
</div>

<div class="content-wrapper clearfix">
	<h3 class="header">
		These email templates are included with theme, the html versions are only available after purchase.
	</h3>

	<div class="emails">
		<div class="email">
			<div class="wrapper">
				<i class="fa fa-search-plus"></i>
				<%= image_tag "emails/welcome.png" %>
			</div>
			<div class="name">
				Welcome Email
			</div>
		</div>
		<div class="email">
			<div class="wrapper">
				<i class="fa fa-search-plus"></i>
				<%= image_tag "emails/notification.png" %>
			</div>
			<div class="name">
				Email Notification
			</div>
		</div>
		<div class="email">
			<div class="wrapper">
				<i class="fa fa-search-plus"></i>
				<%= image_tag "emails/invoice.jpg" %>
			</div>
			<div class="name">
				Invoice Email
			</div>
		</div>
		<div class="email">
			<div class="wrapper">
				<i class="fa fa-search-plus"></i>
				<%= image_tag "emails/activation.png" %>
			</div>
			<div class="name">
				Account Activation Email
			</div>
		</div>
	</div>
</div>