<%= content_for :body_id, "gallery" %>

<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<div class="page-title">
		Image Gallery
	</div>
	<a class="btn btn-success pull-right">
		Add a new image
	</a>
</div>

<div class="content-wrapper clearfix">
	<div class="gallery-wrapper">
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/1.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/2.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/3.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/4.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/5.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/6.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/7.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/8.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/9.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/10.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/11.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/12.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/13.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/14.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/15.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/16.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/17.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/18.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
		<div class="image" style="background-image:url('<%= base_url %>/assets/bgs/19.jpg')">
			<div class="mask">
				<div class="name">Riviera Maya, Mexico</div>
				<div class="date">3 days ago</div>
			</div>
		</div>
	</div>

	<div class="filter clearfix">
		<section class="pull-left">
			<span>Filter:</span>
			<a href="#" class="active">Liked</a>
			<a href="#">Visited</a>
		</section>
		<section class="pull-right">
			<span>Sort by:</span>
			<a href="#" class="active">Size</a>
			<a href="#">Name</a>
		</section>
	</div>
</div>