<%= content_for :body_id, "email-templates" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <%= ion_icon('navicon') %>
  </div>

  <div class="page-title">
    Email templates
  </div>
</div>

<div class="content-wrapper clearfix">
  <h3 class="header">
    These email templates are included with theme, the html versions are only available after purchase.
  </h3>

  <div class="emails">
    <div class="email">
      <div class="wrapper">
        <%= fa_icon('search-plus') %>
        <%= image_tag "emails/welcome.png" %>
      </div>
      <div class="name">
        <%= link_to "Welcome Email", '/rails/mailers/app_mailer/welcome_email', target: '_blank' %>
      </div>
    </div>
    <div class="email">
      <div class="wrapper">
        <%= fa_icon('search-plus') %>
        <%= image_tag "emails/notification.png" %>
      </div>
      <div class="name">
        <%= link_to "Email Notification", '/rails/mailers/app_mailer/notification_email', target: '_blank' %>
      </div>
    </div>
    <div class="email">
      <div class="wrapper">
        <%= fa_icon('search-plus') %>
        <%= image_tag "emails/invoice.jpg" %>
      </div>
      <div class="name">
        <%= link_to "Invoice Email", '/rails/mailers/app_mailer/invoice_email', target: '_blank' %>
      </div>
    </div>
    <div class="email">
      <div class="wrapper">
        <%= fa_icon('search-plus') %>
        <%= image_tag "emails/activation.png" %>
      </div>
      <div class="name">
        <%= link_to "Account Activation Email", '/rails/mailers/app_mailer/activation_email', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
