<%= link_to fa_icon('envelope'), root_url, class: "logo" %>
<h3>Change your password</h3>

<div class="content">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="fields">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <div class="fields">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>

<div class="bottom-wrapper">
  <div class="message">
    <%= render "devise/shared/links" %>
  </div>
</div>
