<div id="sidebar-default" class="main-sidebar fix-scroll">
  <div class="current-user">
    <%= link_to "#", class: "name" do %>
    <%= image_tag "avatars/1.jpg", class: "avatar" %>
    <span>
      John Smith
      <i class="fa fa-chevron-down"></i>
    </span>
    <% end %>
    <ul class="menu">
    <li>
      <%= link_to "Account settings", settings_account_index_path %>
    </li>
    <li>
      <%= link_to "Billing", billing_account_index_path %>
    </li>
    <li>
      <%= link_to "Notifications", notifications_account_index_path %>
    </li>
    <li>
      <%= link_to "Help / Support", support_account_index_path %>
    </li>
    <li>
      <%= link_to "Sign out", signin_features_path %>
    </li>
    </ul>
  </div>
  <div class="menu-section">
  <h3>General</h3>
  <ul>
    <li class="option">
    <%= link_to root_url, class: "active" do %>
      <%= ion_icon('earth') %>
      <span>Dashboard</span>
    <% end %>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('person-stalker') %> <span>Lists & Tables</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Customers list", users_lists_path %></li>
      <li><%= link_to "Orders (Datatables)", datatables_lists_path %></li>
      <li><%= link_to "Products (Filters)", products_lists_path %></li>
    </ul>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('stats-bars') %> <span>Reports</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Reports orders", orders_reports_path %></li>
      <li><%= link_to "Report sales", sales_reports_path %></li>
    </ul>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('pricetags') %> <span>Forms</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "New Customer (validation)", new_customer_forms_path %></li>
      <li><%= link_to "New Product (add-ons)", new_product_forms_path %></li>
      <li><%= link_to "Wizard", wizard_forms_path %></li>
    </ul>
    </li>
  </ul>
  </div>
  <div class="menu-section">
  <h3>Application</h3>
  <ul>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('earth') %> <span>App Pages</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Inbox Messages", inbox_pages_path %></li>
      <li><%= link_to "User profile", profile_pages_path %></li>
      <li><%= link_to "Latest activity", latest_activity_pages_path %></li>
      <li><%= link_to "Projects", projects_pages_path %></li>
      <li><%= link_to "Steps to launch", steps_pages_path %></li>
      <li><%= link_to "Calendar", calendar_pages_path %></li>
    </ul>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('card') %> <span>Pricing</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Pricing (Plans)", plans_pricing_index_path %></li>
      <li><%= link_to "Pricing charts", charts_pricing_index_path %></li>
      <li><%= link_to "Billing form", form_pricing_index_path %></li>
      <li><%= link_to "Invoice", invoice_pricing_index_path %></li>
    </ul>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('flash') %> <span>Features</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Email templates", email_templates_features_path %></li>
      <li><%= link_to "Gallery", gallery_features_path %></li>
      <li><%= link_to "UI Extras", ui_features_path, data: { 'no-turbolink' => nil } %></li>
      <li><%= link_to "API Documentation", api_features_path %></li>
      <li><%= link_to "Sign up", signup_features_path %></li>
      <li><%= link_to "Sign in", signin_features_path %></li>
      <li><%= link_to "App Status", status_features_path %></li>
    </ul>
    </li>
  </ul>
  </div>
  <div class="menu-section">
  <h3>Admin</h3>
  <ul>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('person') %> <span>My account</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li><%= link_to "Settings", settings_account_index_path %></li>
      <li><%= link_to "Billing", billing_account_index_path %></li>
      <li><%= link_to "Notifications", notifications_account_index_path %></li>
      <li><%= link_to "Support", support_account_index_path %></li>
    </ul>
    </li>
    <li class="option">
    <%= link_to "#", data: { toggle: "sidebar" } do %>
      <%= ion_icon('usb') %> <span>Level Navigation</span>
      <i class="fa fa-chevron-down"></i>
    <% end %>
    <ul class="submenu">
      <li>
      <%= link_to "invoice.html", data: { toggle: "sidebar" } do %>
        Submenu
        <i class="fa fa-chevron-down"></i>
      <% end %>
      <ul class="submenu">
        <li><%= link_to "Last menu", "#" %></li>
        <li><%= link_to "Last menu", "#" %></li>
      </ul>
      </li>
      <li><%= link_to "Menu link", "#" %></li>
      <li><%= link_to "Extra link", "#" %></li>
    </ul>
    </li>
  </ul>
  </div>
  <div class="bottom-menu hidden-sm">
  <ul>
    <li><%= link_to ion_icon('help'), "#" %></li>
    <li>
    <%= link_to "#" do %>
      <%= ion_icon('archive') %>
      <span class="flag"></span>
    <% end %>
    <ul class="menu">
      <li><%= link_to "5 unread messages", "#" %></li>
      <li><%= link_to "12 tasks completed", "#" %></li>
      <!-- <li><%= link_to "3 features added", "#" %></li> -->
    </ul>
    </li>
    <li><%= link_to ion_icon('log-out'), signin_features_path %></li>
  </ul>
  </div>
</div>
