<div id="sidebar-default" class="main-sidebar fix-scroll">
  <div class="current-user">
    <%= link_to "#", class: "name" do %>
      <%= image_tag current_user.image_url, class: "avatar" %>
      <span>
        <%= fa_icon('chevron-down', text: current_user.display_name, reverse: true) %>
      </span>
    <% end %>
    
    <ul class="menu">
      <li><%= nav_link "Account settings", settings_pages_account_index_path %></li>
      <li><%= nav_link "Billing", billing_pages_account_index_path %></li>
      <li><%= nav_link "Notifications", notifications_pages_account_index_path %></li>
      <li><%= nav_link "Help / Support", support_pages_account_index_path %></li>
      <li><%= nav_link "Sign out", signin_pages_features_path %></li>
    </ul>
  </div>
  
  <div class="menu-section">
  <h3>General</h3>
  <ul>
    <li class="option">
      <%= nav_link ion_icon('earth', text: content_tag(:span, 'Dashboard')), root_url %>
    </li>
    <li class="option">
      <%= nav_link ion_icon('person-stalker', text: content_tag(:span, 'Lists & Tables')) + fa_icon('chevron-down'), "#", condition: controller?('lists'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Customers list", users_pages_lists_path %></li>
        <li><%= nav_link "Orders (Datatables)", datatables_pages_lists_path %></li>
        <li><%= nav_link "Products (Filters)", products_pages_lists_path %></li>
      </ul>
    </li>
    <li class="option">
      <%= nav_link ion_icon('stats-bars', text: content_tag(:span, 'Reports')) + fa_icon('chevron-down'), "#", condition: controller?('reports'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Reports orders", orders_pages_reports_path %></li>
        <li><%= nav_link "Report sales", sales_pages_reports_path %></li>
      </ul>
    </li>
    <li class="option">
      <%= nav_link ion_icon('pricetags', text: content_tag(:span, 'Forms')) + fa_icon('chevron-down'), "#", condition: controller?('forms'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "New Customer (validation)", new_customer_pages_forms_path %></li>
        <li><%= nav_link "New Product (add-ons)", new_product_pages_forms_path %></li>
        <li><%= nav_link "Wizard", wizard_pages_forms_path %></li>
      </ul>
    </li>
  </ul>
  </div>
  
  <div class="menu-section">
  <h3>Application</h3>
  <ul>
    <li class="option">
      <%= nav_link ion_icon('earth', text: content_tag(:span, 'App Views')) + fa_icon('chevron-down'), "#", condition: controller?('views'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Inbox Messages", inbox_pages_views_path %></li>
        <li><%= nav_link "User profile", profile_pages_views_path %></li>
        <li><%= nav_link "Latest activity", latest_activity_pages_views_path %></li>
        <li><%= nav_link "Projects", projects_pages_views_path %></li>
        <li><%= nav_link "Steps to launch", steps_pages_views_path %></li>
        <li><%= nav_link "Calendar", calendar_pages_views_path %></li>
      </ul>
    </li>
    <li class="option">
      <%= nav_link ion_icon('card', text: content_tag(:span, 'Pricing')) + fa_icon('chevron-down'), "#", condition: controller?('pricing'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Pricing (Plans)", plans_pages_pricing_index_path %></li>
        <li><%= nav_link "Pricing charts", charts_pages_pricing_index_path %></li>
        <li><%= nav_link "Billing form", form_pages_pricing_index_path %></li>
        <li><%= nav_link "Invoice", invoice_pages_pricing_index_path %></li>
      </ul>
    </li>
    <li class="option">
      <%= nav_link ion_icon('flash', text: content_tag(:span, 'Features')) + fa_icon('chevron-down'), "#", condition: controller?('features'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Email templates", email_templates_pages_features_path %></li>
        <li><%= nav_link "Gallery", gallery_pages_features_path %></li>
        <li><%= nav_link "UI Extras", ui_pages_features_path, data: { 'no-turbolink' => nil } %></li>
        <li><%= nav_link "API Documentation", api_pages_features_path %></li>
        <li><%= nav_link "Sign up", signup_pages_features_path %></li>
        <li><%= nav_link "Sign in", signin_pages_features_path %></li>
        <li><%= nav_link "App Status", status_pages_features_path %></li>
      </ul>
    </li>
  </ul>
  </div>
  
  <div class="menu-section">
  <h3>Admin</h3>
  <ul>
    <li class="option">
      <%= nav_link ion_icon('person', text: content_tag(:span, 'My account')) + fa_icon('chevron-down'), "#", condition: controller?('account'), data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li><%= nav_link "Settings", settings_pages_account_index_path %></li>
        <li><%= nav_link "Billing", billing_pages_account_index_path %></li>
        <li><%= nav_link "Notifications", notifications_pages_account_index_path %></li>
        <li><%= nav_link "Support", support_pages_account_index_path %></li>
      </ul>
    </li>
    <li class="option">
      <%= link_to ion_icon('usb', text: content_tag(:span, 'Level Navigation')) + fa_icon('chevron-down'), "#", data: { toggle: "sidebar" } %>
      <ul class="submenu">
        <li>
        <%= link_to fa_icon('chevron-down', text: 'Submenu', reverse: true), "invoice.html", data: { toggle: "sidebar" } %>
        <ul class="submenu">
          <li><%= link_to "Last menu", "#" %></li>
          <li><%= link_to "Last menu", "#" %></li>
        </ul>
        </li>
        <li><%= link_to "Menu link", "#" %></li>
        <li><%= link_to "Extra link", "#" %></li>
      </ul>
    </li>
  </ul>
  </div>
  <div class="bottom-menu hidden-sm">
  <ul>
    <li><%= link_to ion_icon('help'), "#" %></li>
    <li>
      <%= link_to ion_icon('archive', text: content_tag(:span, nil, class: 'flag')), "#" %>
      <ul class="menu">
        <li><%= link_to "5 unread messages", "#" %></li>
        <li><%= link_to "12 tasks completed", "#" %></li>
        <!-- <li><%= link_to "3 features added", "#" %></li> -->
      </ul>
    </li>
    <li><%= link_to ion_icon('log-out'), destroy_user_session_path, method: :delete, id: 'logout' %></li>
  </ul>
  </div>
</div>
