<div class="skin-switcher">
  <div class="toggler">
    <span class="ion-paintbrush"></span>
  </div>
  <ul class="menu">
    <li>
      <a class="active" data-skin="sidebar-default" href="#">
        <span class="color default"></span> Default
        <%= fa_icon('check') %>
      </a>
    </li>
    <li>
      <a data-skin="sidebar-clear" href="#">
        <span class="color clear"></span> Clear
        <%= fa_icon('check') %>
      </a>
    </li>
    <li>
      <a data-skin="sidebar-black" href="#">
        <span class="color black"></span> Black
        <%= fa_icon('check') %>
      </a>
    </li>
    <li>
      <a data-skin="sidebar-dark" href="#">
        <span class="color dark"></span> Dark
        <%= fa_icon('check') %>
      </a>
    </li>
    <li>
      <a data-skin="sidebar-flat" href="#">
        <span class="color flat"></span> Flat
        <%= fa_icon('check') %>
      </a>
    </li>
    <li>
      <a data-skin="sidebar-flat-dark" href="#">
        <span class="color flat-dark"></span> Flat dark
        <%= fa_icon('check') %>
      </a>
    </li>
  </ul>
</div>
