<%= content_for :body_id, "latest-activity" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <%= ion_icon('navicon') %>
  </div>

  <div class="page-title">
    Recent Activity Feed
  </div>
</div>

<div class="content-wrapper">
  <!-- Single button -->
  <div class="filter-user btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Filter by user <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
      <li><%= link_to "Jessie", "#" %></li>
      <li><%= link_to "Robb Stark", "#" %></li>
      <li><%= link_to "Anna Sophia", "#" %></li>
      </ul>
  </div>
  <h3>
    Today
    <small>August 03, 2014</small>
  </h3>
  <div class="moment first">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon">
          <%= fa_icon('comment') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/10.jpg", class: "avatar" %>
        <div class="content">
          <strong>John Smith</strong> commented on your thread <%= link_to "What's up guys", "#" %>.
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon violet">
          <%= fa_icon('upload') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/15.jpg", class: "avatar" %>

        <div class="content">
          <strong>Jessie</strong> uploaded 3 files.
          <div class="files">
            <div class="file">
              <%= image_tag "shots/1.png", class: "img-responsive" %>

              <span class="name">
                Some cool file name
              </span>
            </div>
            <div class="file">
              <%= image_tag "shots/2.png", class: "img-responsive" %>

              <span class="name">
                Website design screenshot
              </span>
            </div>
            <div class="file">
              <%= image_tag "shots/3.png", class: "img-responsive" %>

              <span class="name">
                New Dashboard panel
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon purple">
          <%= fa_icon('quote-left') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/5.jpg", class: "avatar" %>
        <div class="content">
          <strong>Robb Stark</strong> added a new note on project <%= link_to "Web design", "#" %>.

          <p>
            I want everything we do to be beautiful. I don’t give a damn whether the client understands that that’s worth anything, or that the client thinks it’s worth anything, or whether it is worth anything. It’s worth it to me. It’s the way I want to live my life. I want to make beautiful things, even if nobody cares.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon violet">
          <%= fa_icon('upload') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/16.jpg", class: "avatar" %>
        <div class="content">
          <strong>Ana Sophia</strong> uploaded a text file <%= link_to "site_documentation.txt", "#" %> from Google Drive.

          <div class="big-file clearfix">
            <%= image_tag "google-drive.png" %>
            <%= link_to "#", class: "name" do %>
              New Website Project Documentation for the team
            <% end %>
            <div class="size">
              20/01/2014. 135 KB.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon">
          <%= fa_icon('comment') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/17.jpg", class: "avatar" %>
        <div class="content">
          <strong>George Smith</strong> made 2 comments on project <%= link_to "PSD to HTML", "#" %>.
          <p class="border-bottom">
            <span class="date">2 hours ago</span>
            You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art: apprentice, journeyman, master.
          </p>
          <p>
            <span class="date">5 hours ago</span>
            It doesn’t matter one damn bit whether fashion is art or not. You don’t question whether an incredible chef is an artist or not – his cakes are delicious and that’s all that matters.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon">
          <%= fa_icon('comment') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/8.jpg", class: "avatar" %>
        <div class="content">
          <strong>Brandon Johnson</strong> added a new comment on project <%= link_to "This is great", "#" %>.
          <p>
            Some people say design is about solving problems. Obviously designers solve problems but so do dentists. Design is about cultural invention.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon yellow">
          <%= fa_icon('check') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/9.jpg", class: "avatar" %>
        <div class="content">
          <strong>Ana Sophia</strong> completed <%= link_to "4 tasks", "#" %>.
        </div>
      </div>
    </div>
  </div>
  <div class="moment last">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon dark">
          <%= fa_icon('files-o') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/17.jpg", class: "avatar" %>
        <div class="content">
          <strong>George Smith</strong> uploaded <%= link_to "8 files", "#" %>.
        </div>
      </div>
    </div>
  </div>
  <h3>
    Last week
    <small>July 23 - August 02, 2014</small>
  </h3>
  <div class="moment first">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon">
          <%= fa_icon('comment') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/10.jpg", class: "avatar" %>
        <div class="content">
          <strong>John Smith</strong> commented on your thread <%= link_to "What's up guys", "#" %>.
        </div>
      </div>
    </div>
  </div>
  <div class="moment">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon violet">
          <%= fa_icon('upload') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/15.jpg", class: "avatar" %>

        <div class="content">
          <strong>Jessie</strong> uploaded 3 files.
          <div class="files">
            <div class="file">
              <%= image_tag "shots/4.png", class: "img-responsive" %>

              <span class="name">
                Some cool file name
              </span>
            </div>
            <div class="file">
              <%= image_tag "shots/5.png", class: "img-responsive" %>

              <span class="name">
                Website design screenshot
              </span>
            </div>
            <div class="file">
              <%= image_tag "shots/6.jpg", class: "img-responsive" %>

              <span class="name">
                New Dashboard panel
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moment last">
    <div class="row event clearfix">
      <div class="col-sm-1">
        <div class="icon purple">
          <%= fa_icon('quote-left') %>
        </div>
      </div>
      <div class="col-sm-11 message">
        <%= image_tag "avatars/16.jpg", class: "avatar" %>
        <div class="content">
          <strong>Anna Sophia</strong> added a new note on project <%= link_to "Web design", "#" %>.

          <p>
            I want everything we do to be beautiful. I don’t give a damn whether the client understands that that’s worth anything, or that the client thinks it’s worth anything, or whether it is worth anything. It’s worth it to me.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
