<%= content_for :body_id, "projects" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <%= ion_icon('navicon') %>
  </div>

  <div class="page-title">
    My Projects
    <small class="hidden-xs">(Widget list concept)</small>
  </div>
  <%= link_to new_product_forms_path, class: "new-user btn btn-success pull-right" do %>
    <span>Add project</span>
  <% end %>
</div>

<div class="content-wrapper clearfix">
  <div class="row project-list">
    <div class="project new">
      <%= link_to "#" do %>
        <%= ion_icon('ios-plus-outline') %>
        <span class="info">
          Create a New Project
        </span>
      <% end %>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">Dashboard Design</div>
        <div class="category">Design & Development</div>
        <div class="last-update">
          Last updated 3 hours ago
        </div>
      </div>
      <div class="members">
        <%= image_tag "avatars/3.jpg" %>
        <%= image_tag "avatars/7.jpg" %>
        <%= image_tag "avatars/14.jpg" %>
        <%= image_tag "avatars/15.jpg" %>
        
        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">iOS App</div>
        <div class="category">Mobile Development</div>
        <div class="last-update">
          Last updated 1 week ago
        </div>
      </div>
      <div class="members">
        <%= image_tag "avatars/6.jpg" %>
        <%= image_tag "avatars/4.jpg" %>
        <%= image_tag "avatars/10.jpg" %>

        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">Marketing Writeup</div>
        <div class="category">Marketing</div>
        <div class="last-update">
          Last updated 2 days ago
        </div>
      </div>
      <div class="members">
        <%= image_tag "avatars/4.jpg" %>
        <%= image_tag "avatars/8.jpg" %>
        <%= image_tag "avatars/9.jpg" %>
        <%= image_tag "avatars/16.jpg" %>

        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">New Blog Posts</div>
        <div class="category">Writing</div>
        <div class="last-update">
          Last updated 13 hours ago
        </div>
      </div>
      <div class="members">
        <%= image_tag "avatars/10.jpg" %>
        <%= image_tag "avatars/11.jpg" %>
        <%= image_tag "avatars/12.jpg" %>
        <%= image_tag "avatars/17.jpg" %>

        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">New Album Cover</div>
        <div class="category">Design</div>
        <div class="last-update">
          Last updated 1 day ago
        </div>
      </div>
      <div class="members">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/krystalfister/128.jpg" />

        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="project">
      <div class="info">
        <div class="name">New Theme Development</div>
        <div class="category">Design</div>
        <div class="last-update">
          Last updated 11 day ago
        </div>
      </div>
      <div class="members">
        <%= image_tag "avatars/8.jpg" %>
        <%= image_tag "avatars/5.jpg" %>
        <%= image_tag "avatars/13.jpg" %>

        <%= link_to "#", class: "add-more" do %>
          <%= fa_icon('plus') %>
        <% end %>
        <ul class="menu">
          <li><%= link_to "Invite a new user", "#" %></li>
          <li><%= link_to "Change name", "#" %></li>
          <li><%= link_to "Delete project", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
