<%= content_for :body_id, "steps" %>

<div class="content-wrapper">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>
  
  <div class="header">
    Your account is almost ready!
  </div>

  <div class="steps">
    <div class="step clearfix done">
      <div class="info">
        <span class="number">
          <i class="ion-checkmark-circled"></i>
        </span>
        Connect your Stripe account or create a new one to start receiving payments
      </div>

      <%= link_to "#", class: "disabled button" do %>
        <span>Connect Stripe</span>
      <% end %>
    </div>
    <div class="step clearfix done">
      <div class="info">
        <span class="number">
          <i class="ion-checkmark-circled"></i>
        </span>
        Setup your email notification preferences for new payments
      </div>

      <%= link_to "#", class: "disabled button" do %>
        <span>Setup notifications</span>
      <% end %>
    </div>
    <div class="step clearfix">
      <div class="info">
        <span class="number">3</span>
        Invite your teammates to collaborate with you
      </div>

      <%= link_to "#", class: "button" do %>
        <span>Invite teammates</span>
      <% end %>
    </div>
    <div class="step clearfix">
      <div class="info">
        <span class="number">4</span>
        Add some products to sell to your customers
      </div>

      <%= link_to "#", class: "button" do %>
        <span>Create products</span>
      <% end %>
    </div>
    <div class="step clearfix">
      <div class="info">
        <span class="number">5</span>
        Activate your account live into production mode
      </div>

      <%= link_to "#", class: "button" do %>
        <span>Go live!</span>
      <% end %>
    </div>
  </div>
</div>
