<%= content_for :body_id, "account" %>

<div id="sidebar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<h3>My account</h3>
	<ul class="menu">
		<li>
			<a href="<%= settings_account_index_path %>">
				<i class="ion-ios7-person-outline"></i>
				Profile
			</a>
		</li>
		<li>
			<a href="<%= billing_account_index_path %>">
				<i class="ion-card"></i>
				Billing
			</a>
		</li>
		<li>
			<a href="<%= notifications_account_index_path %>" class="active">
				<i class="ion-ios7-email-outline"></i>
				Notifications
			</a>
		</li>
		<li>
			<a href="<%= support_account_index_path %>">
				<i class="ion-ios7-help-outline"></i>
				Support
			</a>
		</li>
	</ul>
</div>

<div id="panel" class="notifications">
	<h3>
		Email Notification Settings
	</h3>

	<div class="settings">
		<form action="#">
			<div class="digest">
				<h4>Daily digest</h4>
				<div class="row">
					<div class="col-md-9">
						<p>
							An email with all your activities for today and a summary of what was done yesterday directly to your email's inbox.
						</p>
					</div>
					<div class="col-md-3">
						<select data-smart-select>
							<option>Never receive</option>
							<option>Every day</option>
							<option>Every Week</option>
						</select>
					</div>
				</div>
			</div>

			<div class="types">
				<h4>
					Types
				</h4>
				<section>
					<div class="title">In-app</div>

					<div class="row">
						<div class="col-sm-8">
							New comments on my posts
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Assigned to new projects
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Order updates
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							New invitations 
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Mentions you in a comment
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Product is deleted
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
				</section>
				<section>
					<div class="title">News</div>

					<div class="row">
						<div class="col-sm-8">
							New updates
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Recommendations & tips
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							Offers
						</div>
						<div class="col-sm-4">
							<input type="checkbox" data-switch value="3" checked />
						</div>
					</div>
				</section>
			</div>

			<div class="actions">
				<input class="btn btn-primary" type="submit" value="Save changes" />
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).on("ready page:load", function () {
		$("[data-switch]").bootstrapSwitch({
			"size": "small"
		});
	});
</script>