<%= content_for :title, t(".title").html_safe %>

<h1 class="page-header"><%= yield :title %></h1>

<p><%= raw t(".description", path: @not_found_path) %></p>

<p><%= raw t(".advice", link: t(".home")) %></p>


<%= link_to t("buttons.home"), root_path, class: "btn btn-primary" %>
<%= link_to t("buttons.back"), :back, class: "btn btn-primary" %>
