<%= content_for :body_class, "sign_in" %>

<%= link_to fa_icon('users'), root_url, class: "logo" %>
<h3>Welcome back!</h3>

<div class="content">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="fields">
      <%= f.label :email, "Email address" %>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>
    
    <div class="fields">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
      <div class="info">
        <label><%= f.check_box :remember_me %> <%= f.label :remember_me %></label>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Sign in", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

  <hr>

  <p class="text-center lead">Sign in using your social newtwork accounts.</p>
  <p class="text-center">
    <% Identity::PROVIDER_PAIRS.each do |provider, name| %>
      <%= authenticate_link(provider, text: "Sign in via #{name}") %>
    <% end %>
  </p>
</div>

<div class="bottom-wrapper">
  <div class="message">
    <%= render "devise/shared/links" %>
  </div>
</div>
