<%= content_for :body_id, "account" %>

<div id="sidebar">
  <div class="sidebar-toggler visible-xs">
    <%= ion_icon('navicon') %>
  </div>
  
  <h3>My account</h3>
  <ul class="menu">
    <li>
      <%= link_to settings_account_index_path do %>
        <%= ion_icon('ios-person-outline') %>
        Profile
      <% end %>
    </li>
    <li>
      <%= link_to billing_account_index_path do %>
        <%= ion_icon('card') %>
        Billing
      <% end %>
    </li>
    <li>
      <%= link_to notifications_account_index_path do %>
        <%= ion_icon('ios-email-outline') %>
        Notifications
      <% end %>
    </li>
    <li>
      <%= link_to support_account_index_path, class: "active" do %>
        <%= ion_icon('ios-help-outline') %>
        Support
      <% end %>
    </li>
  </ul>
</div>

<div id="panel" class="support">
  <h3>
    Help & Support
  </h3>

  <div class="topics">
    <h4>Don't know where to start?</h4>
    <p>Choose from the following topics to get more info:</p>

    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('person-stalker') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Your contacts", "#" %>
        <p>
          Learn how to create, manage and update your contacts data.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('pie-graph') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Graphs & Reports", "#" %>
        <p>
          Visualize your data in a meaningful way with our reports. Learn
          how to get the most out of your information.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('archive') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Orders", "#" %>
        <p>
          Manage your orders and bill your customers.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('calendar') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Calendar", "#" %>
        <p>
          Learn how to delegate tasks and organize your activities.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('camera') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Galleries", "#" %>
        <p>
          Learn how to create beautiful galleries by uploading your pictures.
        </p>
      </div>
    </div>
  </div>
</div>
