<%= content_for :body_id, "account" %>

<%= render partial: 'sidebar_submenu' %>

<div id="panel" class="support">
  <h3>
    Help & Support
  </h3>

  <div class="topics">
    <h4>Don't know where to start?</h4>
    <p>Choose from the following topics to get more info:</p>

    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('person-stalker') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Your contacts", "#" %>
        <p>
          Learn how to create, manage and update your contacts data.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('pie-graph') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Graphs & Reports", "#" %>
        <p>
          Visualize your data in a meaningful way with our reports. Learn
          how to get the most out of your information.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('archive') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Orders", "#" %>
        <p>
          Manage your orders and bill your customers.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('calendar') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Calendar", "#" %>
        <p>
          Learn how to delegate tasks and organize your activities.
        </p>
      </div>
    </div>
    <div class="row topic">
      <div class="col-md-1 col-sm-2">
        <%= link_to "#" do %>
          <%= ion_icon('camera') %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <%= link_to "Galleries", "#" %>
        <p>
          Learn how to create beautiful galleries by uploading your pictures.
        </p>
      </div>
    </div>
  </div>
</div>
