<%= render layout: 'layouts/base' do %>
<body id="<%= yield :body_id %>" data-view-class="<%= javascript_view_class %>">
  <div id="wrapper">
    <%= render partial: 'shared/sidebar_menu' %>

    <div id="content">
      <%= render partial: 'shared/flashes' %>
      <%= yield %>
    </div>
  </div>

  <%= yield :bottom_content %>
</body>
<% end %>
