<%= content_for :body_id, "pricing-alt" %>

<div class="content-wrapper">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<div id="first-option">
		<div class="row header">
			<div class="col-md-12">
				<h3>Different plans for everyone</h3>
				<p>Choose the pricing that fits your business needs</p>
			</div>
		</div>
		<div class="row charts">
			<div class="col-md-4">
				<div class="chart first">
					<div class="plan-name">Freelance</div>
					<div class="quantity">
						<span class="dollar">$</span>
						<span class="price">29</span>
						<span class="period">/month</span>
					</div>
					<div class="specs">
						<div class="spec">
							<span class="variable">5</span>
							team members
						</div>
						<div class="spec">
							<span class="variable">Digital</span>
							recurring billing
						</div>
						<div class="spec">
							<span class="variable">Virtual</span>
							online terminal
						</div>
						<div class="spec">
							<span class="variable">10</span>
							total products
						</div>
						<div class="spec">
							<span class="variable">1.0%</span>
							Transaction fee
						</div>
					</div>
					<a class="button" href="<%= form_pricing_index_path %>">
						<span>Start free trial</span>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="chart featured">
					<%= image_tag "ribbon.png", class: "popular" %>
					<div class="plan-name">Profesional</div>
					<div class="quantity">
						<span class="dollar">$</span>
						<span class="price">79</span>
						<span class="period">/month</span>
					</div>						
					<div class="specs">
						<div class="spec">
							<span class="variable">15</span>
							team members
						</div>
						<div class="spec">
							<span class="variable">Digital</span>
							recurring billing
						</div>
						<div class="spec">
							<span class="variable">Virtual</span>
							online terminal
						</div>
						<div class="spec">
							<span class="variable">15</span>
							total products
						</div>
						<div class="spec">
							<span class="variable">0.5%</span>
							Transaction fee
						</div>
					</div>
					<a class="button" href="<%= form_pricing_index_path %>">
						<span>Start free trial</span>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="chart last">
					<div class="plan-name">Premium</div>
					<div class="quantity">
						<span class="dollar">$</span>
						<span class="price">119</span>
						<span class="period">/month</span>
					</div>
					<div class="specs">
						<div class="spec">
							<span class="variable">Unlimited</span>
							team members
						</div>
						<div class="spec">
							<span class="variable">Digital</span>
							recurring billing
						</div>
						<div class="spec">
							<span class="variable">Virtual</span>
							online terminal
						</div>
						<div class="spec">
							<span class="variable">25</span>
							total products
						</div>
						<div class="spec">
							<span class="variable">No</span>
							Transaction fee
						</div>
					</div>
					<a class="button" href="<%= form_pricing_index_path %>">
						<span>Start free trial</span>
					</a>
				</div>
			</div>				
		</div>
		<div class="row message">
			<p>
				All of our plans come with a 30 day trial with no credit card required, we also offer a 
				<a href="<%= form_pricing_index_path %>">free plan</a>.
			</p>
		</div>
		<div class="row faq">
			<div class="col-md-12">
				<div class="row header">
					<div class="col-md-12">
						<h3>Frequently Asked Questions</h3>
					</div>
				</div>
				<div class="row questions">
					<div class="col-md-6">
						<div class="question">
							<strong>Do I need a card to signup?</strong>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
							</p>
						</div>
						<div class="question">
							<strong>Can I cancel at anytime?</strong>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="question">
							<strong>Can I cancel at anytime?</strong>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
							</p>
						</div>
						<div class="question">
							<strong>Do I need a card to signup?</strong>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row contact">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<h4>
						<span class="brankic-phone2"></span>
						Unsure which plan is best for you? You can call our sales team any day at 
						<strong>1-800-123-4567</strong>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>